* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.header{
    background-color: #F2CEDA;
    height: 860px;
}
.polar_end{
    background-color: green;
    max-width: 867px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.polar_card{
    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}